body {
    height: 100vh;
}

#form_container {
    height: 100vh;
}

#signup_form {
    border: 1px solid black;
}

form {
    background: gray;
}

/* FLAG STYLING */
.flag-icon {
    margin-left: 5px;
    cursor: pointer;
}