body {
    height: 100vh;
}

#form_container {
    height: 100vh;
}

#signup_form {
    border: 1px solid black;
}

/* FLAG STYLING */
.flag-icon {
    margin-left: 5px;
    cursor: pointer;
}

/* ERROR STYLING */
input.valid {
    border-color: #28a745;
}

input.error {
    border-color: #dc3545
}